* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh; /* Altura mínima de un elemento */
    background-color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    background-color:#005AA7;
    color:white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem; /* 1 rem = 16 px */
    border-radius: 1rem;
    display: grid; /* Proporciona una cuadrícula de una sola columna */
    grid-template-columns: repeat(4, 1fr); /* Define el número y el ancho de las columnas en un diseño de cuadrícula.  
    fr la unidad de medida fr representa una fracción del contenedor de la cuadrícula.*/
    gap: .5rem; /* Especifica el tamaño de las canaletas, que es el espacio entre las filas y columnas dentro de la cuadrícula,
    flexión y diseño de múltiples columnas. (Da espacio entre los números) */
}

.pantalla {
    grid-column: 1 / -1; /* Es un espacio vertical entre dos líneas de cuadrícula. (El cero toma toda la línea tipo br)  */
    background-color: black;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600px;
    word-wrap: break-word; /* Divide palabras largas para ajustarlas en la siguiente línea (evita que se desborden de la línea) */
}

.btn {
    background-color: #005AA7;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer; /* Para que cuando estes encima de un botón te salga el puntero */
}

.btn:hover {
    background-color:#3c1053;
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2; /* es un espacio horizontal entre dos líneas de cuadrícula horizontales  Span=abarcar */
    background-color:#dd1818;
}

#igual:hover {
    background-color:#DA4453
}